@tailwind base;
@tailwind components;
@tailwind utilities;
    /* Pastikan tombol terlihat di semua ukuran layar */
@media (max-width: 768px) {
    .btn-primary {
      padding: 0.5rem 1rem; /* Sesuaikan padding jika perlu */
      font-size: 1rem; /* Sesuaikan ukuran font jika perlu */
      white-space: nowrap; /* Mencegah teks memecah baris */
    }
  }
  